if currentUser
    a#logout.ui.button(href='#') 
        i.sign.out.icon
        | #{currentUser.username}
    #add.ui.icon.button
        i.plus.icon
else
    a.ui.icon.button(href='/sign-in') 
        i.sign.in.icon
.ui.transparent.left.icon.input
    i.search.icon
    input#search(type='text' autofocus='' autocomplete='off')
.ui.hidden.divider
if selected_tags
    #clear_tags.ui.icon.large.active.button
        i.remove.icon
    each selected_tags
        a.ui.large.active.button.unselect_tag
            strong #{this}
each all_tags
    .ui.button.select_tag 
        | #{this.name}
        small #{this.count}
