template(name='edit')
    with doc
        .ui.container
            .ui.center.aligned.header edit
            each tags
                .ui.button.doc_tag
                    i.minus.icon
                    |#{this}
            .ui.left.icon.four.wide.input
                i.add.icon
                input#add_tag(type='text' placeholder='add tag' maxlength='50')
            .ui.form
                .field
                    textarea#body(rows='5') #{body}
                
            .ui.center.aligned.basic.segment
                if tags
                    #save.ui.icon.huge.white.button
                        i.check.icon
                #delete.ui.icon.small.white.button
                    i.remove.icon
                        