with doc
    .ui.container
        each tags
            .ui.big.label #{this}
        .ui.hidden.divider
        .description
            |!{body}
        .ui.divider
        if can_edit
            .edit.ui.icon.button
                i.pencil.icon