.ui.segment
    // .ui.header test
    // |{{fo 'title'}}
    h1.ui.center.aligned.header {{fo 'title'}}
    h3.ui.center.aligned.header {{fo 'description'}}
    img.ui.image(src="{{fo 'image_address'}}")

    
