with doc
    .ui.container.basic.segment
        .ui.center.aligned.header edit
        .ui.inline.form
            .field
                each tags
                    .ui.button.doc_tag
                        i.minus.icon
                        |#{this}
                .ui.left.icon.four.wide.input
                    i.add.icon
                    input#add_tag(type='text' placeholder='add tag' maxlength='50')
            .field
                .froala-container
                    +froalaReactive getFEContext
            .ui.basic.center.aligned.segment
                if tags
                    #save.ui.icon.big.button
                        i.check.icon
                #delete.ui.icon.small.button
                    i.remove.icon
                    