.field
    label tags
    each tags
        .ui.button.doc_tag
            i.minus.icon
            |#{this}
    .ui.left.icon.four.wide.input
        i.add.icon
        input#add_tag(type='text' placeholder='add tag' maxlength='50')
