with group
    .ui.container
        h1.ui.center.aligned.header #{name}
        .ui.stackable.grid
            .twelve.wide.column
                if is_member
                    +cloud
                    +docs
            .four.wide.column
                if is_member
                    a#add.ui.fluid.button
                        | add
                .ui.header members
                .ui.bulleted.list
                    each member_list
                        .item #{username}
                .ui.header group tags
                each tags
                    .ui.label #{this}
                if currentUser
                    .ui.header your membership
                    if is_member
                        #leave_group.ui.fluid.button
                            | leave
                    else
                        #join_group.ui.fluid.button
                            | join
                // .ui.hidden.divider
                // .ui.horizontal.divider.header Group Type
                // if private
                //     .ui.big.label Private
                // else
                //     .ui.big.label Public
                .ui.hidden.divider
                if isInRole 'admin'
                    .extra.content
                        .ui.header 
                            |admin
                        .edit.ui.fluid.button
                            | edit group