with group
    .ui.container
        h1.ui.center.aligned.header #{name}
        .ui.stackable.grid
            .twelve.wide.column
                if is_member
                    +cloud
                    +docs
            .four.wide.column
                if is_member
                    a#add.ui.fluid.button
                        i.plus.icon
                        | Add
                .ui.header Members
                .ui.bulleted.list
                    each member_list
                        .item #{username}
                .ui.header Group Tags
                each tags
                    .ui.label #{this}
                if currentUser
                    .ui.header Your Membership
                    if is_member
                        #leave_group.ui.fluid.button
                            i.minus.icon
                            | Leave
                    else
                        #join_group.ui.fluid.button
                            i.plus.icon
                            | Join
                // .ui.hidden.divider
                // .ui.horizontal.divider.header Group Type
                // if private
                //     .ui.big.label Private
                // else
                //     .ui.big.label Public
                .ui.hidden.divider
                if isInRole 'admin'
                    .extra.content
                        .ui.header 
                            |Admin
                        .edit.ui.fluid.button
                            | Edit