.ui.inverted.stackable.borderless.big.menu
    .ui.container
        a.header.icon.item(href='/' class="{{isActivePath '/'}}") 
            // i.big.home.icon
            |facet
        // a.item(href='/groups' class="{{isActivePath '/groups'}}") Groups
        .right.menu
            if currentUser
                .icon.disabled.item
                    i.cart.outline.icon
                .icon.disabled.item
                    i.alarm.outline.icon
                .icon.disabled.item
                    i.mail.outline.icon
                a.item(href='/conversations' class="{{isActivePath '/conversations'}}")
                    i.chat.icon
                    | conversations
                .item #{currentUser.username}
                a#logout.ui.item(href='#') 
                    i.sign.out.icon
                    |sign out
            else
                a.ui.item(href='/sign-in') 
                    i.sign.in.icon
                    |sign in
