.ui.inverted.stackable.borderless.large.menu
    .ui.container
        a.header.icon.item(href='/' class="{{isActivePath '/'}}") 
            // i.big.home.icon
            |facet
        // a.item(href='/groups' class="{{isActivePath '/groups'}}") Groups
        .right.menu
            if currentUser.profile.current_group_name
                // a#add.ui.item
                //     i.plus.icon
                //     | Add
                // a.item(href="/group/view/#{currentUser.profile.current_group_id}" class="{{isActivePath '/group/view/#{currentUser.profile.current_group_id}'}}") Current Group: #{currentUser.profile.current_group_name}
            if currentUser
                .item #{currentUser.username}
                a#logout.ui.item(href='#') 
                    i.sign.out.icon
                    |sign out
            else
                a.ui.item(href='/sign-in') 
                    i.sign.in.icon
                    |sign in
