.ui.inverted.stackable.borderless.menu
    .ui.container
        a.header.icon.item(href='/' class="{{isActivePath '/'}}") 
            |facet
        if currentUser
            .item #{currentUser.username}
            a#logout.ui.item(href='#') 
                i.sign.out.icon
        else
            a.ui.item(href='/sign-in') 
                i.sign.in.icon
