with doc
    .ui.container.basic.segment
        .ui.center.aligned.header Edit Item
        .ui.form
            +edit_tags
            // +edit_image
            +edit_description
            .ui.basic.center.aligned.segment
                if tags
                    #save.ui.big.button Save
                +delete_button