with doc
    .ui.container.basic.segment
        .ui.center.aligned.header edit document
        .ui.inline.form
            +edit_tags
            +edit_title
            +edit_number
            +edit_place
            +edit_date
            +edit_image
            +edit_description
            .ui.basic.center.aligned.segment
                if tags
                    #save.ui.big.button save
                +delete_button